<h1><%= t("activerecord.models.question") %></h1>

<p><%= @answer.question.body %></p>

<h2><%= t("activerecord.models.answer") %></h2>

<p>
  <b><%= t("activerecord.attributes.answer.body") %></b>
  <%= @answer.body %>
</p>

<p>
  <b><%= t("activerecord.attributes.answer.correct") %></b>
  <%= @answer.correct %>
</p>

<p> <%= link_to t("back"), admin_question_path(@answer.question) %> <p>