<%= form_with(model: [:admin, @test], local: true) do |form| %>
  <%= render "shared/errors", resource: @test %>

  <div>
    <%= form.label :title %><br>
    <%= form.text_area :title, id: :test_title %>
  </div>

  <div class="mb-3">
    <%= form.label :level %><br>
    <%= form.number_field :level, id: :test_level %>
  </div>

  <div class="mb-3">
    <%= form.label :category_id %><br>
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %>
  </div>

  <div class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
