<h1><%= @test.title %></h1>

<h2><%= t("questions") %></h2>
<%= render partial: "admin/questions/question", collection: @test.questions %>
<p> <%= link_to t(".create_new_question"), new_admin_test_question_path(@test) %> <p>

<%= link_to t('edit'), edit_admin_test_path(@test) %>
<%= link_to t('back'), admin_tests_path %>
