<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
     <p><%= link_to "Welcome, #{current_user.first_name} Guru", root_path %></p>
    <% end %>

    <%= link_to "Singup", singup_path %>
    <%= link_to "Login", login_path %>
    <%= link_to "Logout", logout_path %>

    <%= yield %><br><br>
    <footer>
      <%= current_year %>
      Helen91<br>
      <%= github_url("Helen91", "test_guru") %><br>
      <a href="https://thinknetica.com">Учебный проект в онлайн-школе Thinknetica</a>
    </footer>
  </body>
</html>
